{{!< tight/tight}}
<div class="page page_login">
    <form class="form">
        <div class="form__content">
            <h1 class="form__title">Вход</h1>
            <div class="field">
                <label class="field__label" for="login">Логин</label>
                <input class="field__input" id="login" type="text">
                <div class="field__error">Неверный логин</div>
            </div>
            <div class="field">
                <label class="field__label" for="pass">Пароль</label>
                <input class="field__input" id="pass" type="hidden">
            </div>
        </div>
        <div class="form__footer">
            <button type="submit">Авторизоваться</button>
            <a href="#" class="form__footer-link">Нет аккаунта?</a>
        </div>
    </form>

</div>
