.layout-account {
    max-width: 510px;
    margin: 0 auto;

    &__back {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FBFBFB;
        border: none;
        border-right: 1px solid var(--borders);

    }
}
