.layout-account {
    margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: 510px;
    &__content {
        width: 100%;
        padding: 30px;
    }
    &__back {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FBFBFB;
        border-right: 1px solid var(--borders);

    }
}
