<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Smiler</title>
    <link rel="stylesheet" href="../../styles/style.pcss">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap" rel="stylesheet">
</head>
    <body class="layout-account">
        <div class="layout-account__content">
            {{{body}}}
        </div>
        <button class="layout-account__back">
            <div class="icon icon_circle">
                <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="13" y="6.80005" width="11" height="1.6" transform="rotate(-180 13 6.80005)" fill="white"/>
                    <path d="M6 11L2 6L6 1" stroke="white" stroke-width="1.6"/>
                </svg>
            </div>
        </button>
    </body>
</html>
