{{!< account/account}}
<div class="profile">
    <div class="profile__header">
        <button class="edit-avatar"
                style='background-image: url("https://pickaface.net/gallery/avatar/20140911_184056_617_demo.png")'
        >
            <span class="edit-avatar__text">Поменять<br>аватар</span>
        </button>
    </div>
    <div class="profile__content">
        <div class="group-list profile__data">
            <div class="group-list__item">
                <div class="group-list__label">
                    <label for="email">Почта</label>
                </div>
                <div class="group-list__field">
                    <input id="email" type="email" placeholder=" " required>
                </div>
            </div>
            <div class="group-list__item">
                <div class="group-list__label">
                    <label for="login">Логин</label>
                </div>
                <div class="group-list__field">
                    <input id="login" type="text" placeholder=" " required>
                </div>
            </div>
            <div class="group-list__item">
                <div class="group-list__label">
                    <label for="first_name">Имя</label>
                </div>
                <div class="group-list__field">
                    <input id="first_name" type="text" placeholder=" " required>
                </div>
            </div>
            <div class="group-list__item">
                <div class="group-list__label">
                    <label for="second_name">Фамилия</label>
                </div>
                <div class="group-list__field">
                    <input id="second_name" type="text" placeholder=" " required>
                </div>
            </div>
            <div class="group-list__item">
                <div class="group-list__label">
                    <label for="display_name">Имя в чате</label>
                </div>
                <div class="group-list__field">
                    <input id="display_name" type="text" placeholder=" " required>
                </div>
            </div>
            <div class="group-list__item">
                <div class="group-list__label">
                    <label for="phone">Телефон</label>
                </div>
                <div class="group-list__field">
                    <input id="phone" type="tel" placeholder=" " required>
                </div>
            </div>
        </div>
        <div class="group-list profile__menu">
            <div class="group-list__item">
                <div class="group-list__label">
                    <a href="#">
                        Изменить данные
                    </a>
                </div>
            </div>
            <div class="group-list__item">
                <div class="group-list__label">
                    <a href="#">
                        Изменить пароль
                    </a>
                </div>
            </div>
            <div class="group-list__item">
                <div class="group-list__label">
                    <a href="#" class="text-danger">
                        Выйти
                    </a>
                </div>
            </div>

        </div>

    </div>
</div>
