@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url("inter/Inter-Medium.woff2") format("woff2"),
    url("inter/Inter-Medium.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url("inter/Inter-SemiBold.woff2") format("woff2"),
    url("inter/Inter-SemiBold.woff") format("woff");
}
