:root {
  --primary100: #3369f3;
  --primary50: #e4edfd;
  --error: #ff2f2f;
  --black: #1e1e1e;
  --transparent: #1e1e1e6b;
  --gray100: #999;
  --gray80: #eaeaea;
  --gray70: #efefef;
  --gray60: #fbfbfb;
  --gray50: #f8f8f8;
}
