.edit-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__upload {
    text-align: center;
    text-decoration: underline;
    color: var(--primary100);
    margin: 20px 0;
    cursor: pointer;
  }
  &__input {
  }
}
