<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pages</title>
</head>
<body>
<ul>
    <li>
        <a href="pages/login/login.hbs">Login Page</a>
    </li>
    <li>
        <a href="pages/signin/signin.hbs">Signin Page</a>
    </li>
    <li>
        <a href="./pages/chat/chat.hbs">Chat Page</a>
    </li>
</ul>
</body>
</html>
