.auth-form {
  min-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__content {
    margin-bottom: 30px;
  }
  &__title {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: var(--black);
    margin: 18px 0 25px;
  }
  &__footer {
    text-align: center;
  }
  &__footer-link {
    font-size: 11px;
  }
}
