.message {
  max-width: 400px;
  padding: 10px 15px 5px;
  margin: 10px 0;
  &__title {
    font-size: 20px;
  }
  &_incoming {
    background: #f8f8f8;
    border-radius: 0 10px 10px;
  }
  &_own {
    margin-left: auto;
    background: #e4edfd;
    border-radius: 10px 10px 0;
  }
  &__footer {
    margin-top: 5px;
    display: flex;
    justify-content: right;
  }
  .message-date {
    font-size: 9px;
    color: var(--muted);
  }
}
