{{!< main/main}}
<div class="error">
    <div class="error__inner">
        <div class="error__title">500</div>
        <div class="error__text">Мы уже фиксим</div>
        <a href="/" class="error__home-link">Назад к чатам</a>
    </div>
</div>
